

.theater-background {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0f0f14, #1a1f2b);
  position: relative;
  color: #e0e0e0;
  padding: 40px;
  overflow-x: hidden;
}



.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(to bottom, #1a1f2b, transparent);
  animation: curtainFade 2s ease-in-out forwards;
}

@keyframes curtainFade {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120px);
  }
}



.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}


.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 200px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 250px;
  justify-content: flex-end;
}


.theater-title {
  flex: 1;
  text-align: center;
  font-size: 26px;
  letter-spacing: 2px;
  color: #c6b27a;
}



.ticket-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}



.ticket-card {
  width: 250px;
  background-color: #1f2430;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.ticket-card:hover {
  transform: translateY(-8px);
}

.poster {
  width: 100%;
  height: 375px;
  background: linear-gradient(135deg, #2c3344, #1a1f2b);
}

.ticket-info {
  padding: 20px;
  border-top: 1px dashed #c6b27a;
}

.ticket-info p {
  margin: 0;
  font-weight: bold;
  margin-bottom: 8px;
}

.ticket-info span {
  font-size: 14px;
  color: #b0b0b0;
}
